<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Post</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
</head>
<body>
    <h1>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Post</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'post_list' %}">Back to Post List</a>
</body>
</html> 
